server:
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/spring_email_verification
    username: postgres
    password: 888337

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.PostgreSQL9Dialect
    show-sql: true


  mail:
    host: smtp.gmail.com
    username: appnotificationbot@gmail.com
    password: txtudptpgjnodaca
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true